<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			You Need To Get Paid 
		</div>
		<div class="panel-body">
			<div class="container">
				<%= form_tag do %>
					<div class="row">
						<div class="form-group">
							<label></label>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label></label>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label></label>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label></label>
						</div>
					</div>


					<div class="row">
						<div class="form-group">
							<%= submit, "Save", class: "btn btn-primary" %>
						</div>
					</div>					
				<% end %>
			</div>
		</div>
	</div>
	
</div>